# Домашнее задание №2

## Правила

 - Задание выдается и принимается через проект в LMS
 - Дедлайн сдачи - **12 октября, 23:59**. После этого времени работы не принимаются.
 - Задание выполняется индивидуально. Нельзя смотреть чужие решения или делиться своими. При обнаружении списывания результаты всех похожих работ обнуляются.
 - При возникновении вопросов по заданиям - пишите в канал "Вопросы и консультации" в Teams. Туда нельзя постить свое решение целиком. Если есть такая необходимость, то пользуйтесь личныим сообщениями в Teams.  Вам помогут **учебные ассистенты**: *Инюцина Виктория* (группы БЛГ191-192), *Кербер Екатерина* (группы БЛГ193-194), *Аветисян Наталья* (группы БЛГ195-196).
 - Аккуратно оформляйте и комментируйте свое решение. Ваша оценка зависит от того, что мы поймем из вашего блокнота.
 - С каждым заданием связано определенное количество баллов, которое отражает его сложность. Результаты суммируются. Максимально можно заработать 10 баллов.
 - На забудьте подписать работу - укажите в следующей ячейке свою фамилию, имя и группу.
 
 - На проверку надо загрузить в проект в  LMS HTML-файл с вашим решением. Чтобы получить такой файл из блокнота, сохраните блокнот, выполните команду: `Kernel/Restart & Run All`. Убедитесь, что блокнот досчитался до конца и нет ошибок. Затем выполните команду: `File/Download as.../HTML`. Полученный HTML-файл просмотрите внимательно и загрузите в задание в проект в LMS.

## Работа выполнена:

Фамилия, Имя: ___________


Группа: ___________

## Подготовка

Запустите следующую ячейку, чтобы подключить необходимые пакеты

In [663]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Запустите следующую ячейку, чтобы загрузить данные. Если у вас не загружаются данные, - убедитесь, что вы распаковали архив с домашним заданием. Необходимые файлы должны находиться в подпапке `data`.

In [664]:
# Читаем данные по рейсам
flights = pd.read_csv('data/flights.csv',
                     parse_dates=['time_hour'], # разобрать дату
                     dtype={'carrier' : 'str' # код перевозчика - текст
                           })  

# Читаем список авиакомпаний
airlines = pd.read_csv('data/airlines.csv', 
                      dtype={'carrier':'str'}) # код перевозчика - текст
airlines.rename({'name':'airline'}, axis='columns', inplace=True)

# Присоединяем авиакомпании:
flights = pd.merge(flights, airlines, on='carrier', how='left')

flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,airline
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 10:00:00+00:00,United Air Lines Inc.
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 10:00:00+00:00,United Air Lines Inc.
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 10:00:00+00:00,American Airlines Inc.
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 10:00:00+00:00,JetBlue Airways
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 11:00:00+00:00,Delta Air Lines Inc.

В таблице `flights` содержатся авиарейсы, вылетевшие из Нью-Йорка в 2013 году (336776 записей).

Столбцы:

 - `year, month, day` - дата вылета  
 - `dep_time, arr_time` - фактическое время вылета и посадки, время указано местное
 - `sched_dep_time, sched_arr_time` - время вылета и посадки по расписанию рейсов, местное
 - `dep_delay ,arr_delay` - задержка вылета и посадки в минутах. Отрицательные значения означают, что рейс вылетел или сел раньше  
 - `hour, minute` - отдельно час и минута времени вылета по расписанию 
 - `carrier` - краткое обозначение авиакомпании
 - `airline` - полное название авиакомпании (данные также можно посмотреть в таблице `airlines`
 - `tailnum` - бортовой номер самолета
 - `flight` - номер рейса
 - `origin, dest` - аэропорт отправления и назначения. Расшифровки есть в файле `data/airports.csv`.
 - `air_time` - время полета, в минутах
 - `distance` - расстояние перелета, в милях
 - `time_hour` - дата и время вылета в виде отметки времени, можно использовать вместе с полем `origin` для соединения с данными о погоде

In [665]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336776 entries, 0 to 336775
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int64
 1   month           336776 non-null  int64
 2   day             336776 non-null  int64
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int64
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int64
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int64
 16  hour            336776 non-null  int64
 17  minute          336776 non-null  int64
 18  time_hour       336776 non-null  datetime64[ns, UTC]
 19  airline         336776 non-null  object
dtypes: datetime64[ns, UTC](1), float64(5), int64(9), object(5)
memory usage: 54.0+ MB

В таблице `airlines` содержится список авиакомпаний

In [666]:
airlines

   carrier                      airline
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

## Задача 1 (0.5 балла)

Найдите рейсы, вылетевшие в ночное время (с 00:00 до 5:59) с задержкой не менее 1 часа и наверставшие в пути более 50 минут.

Должно получиться 7 строк.

**Подсказка**:  
 - Отбор по вхождению в диапазон можно реализовать с помощью метода `between()`

In [667]:
# Ваш код здесь
flights[(flights['dep_time'].between(000.0, 559.0)) & (flights['dep_delay'] >= 60.0) &
        ((flights['dep_delay'] - flights['arr_delay']) > 50.0)]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,airline
77169,2013,11,24,36.0,1855,341.0,325.0,2235,290.0,VX,29,N625VA,JFK,SFO,331.0,2586,18,55,2013-11-24 23:00:00+00:00,Virgin America
242015,2013,6,22,135.0,2029,306.0,412.0,2359,253.0,B6,915,N520JB,JFK,SFO,322.0,2586,20,29,2013-06-23 00:00:00+00:00,JetBlue Airways
243768,2013,6,24,159.0,1735,504.0,432.0,2108,444.0,DL,1543,N727TW,JFK,SEA,307.0,2422,17,35,2013-06-24 21:00:00+00:00,Delta Air Lines Inc.
250450,2013,7,1,1.0,2029,212.0,236.0,2359,157.0,B6,915,N653JB,JFK,SFO,315.0,2586,20,29,2013-07-02 00:00:00+00:00,JetBlue Airways
250454,2013,7,1,44.0,2150,174.0,300.0,100,120.0,AA,185,N324AA,JFK,LAX,297.0,2475,21,50,2013-07-02 01:00:00+00:00,American Airlines Inc.
258665,2013,7,10,134.0,1905,389.0,234.0,2057,337.0,UA,779,N836UA,EWR,ORD,105.0,719,19,5,2013-07-10 23:00:00+00:00,United Air Lines Inc.
306579,2013,8,29,40.0,1900,340.0,219.0,2143,276.0,DL,961,N3735D,JFK,DEN,199.0,1626,19,0,2013-08-29 23:00:00+00:00,Delta Air Lines Inc.

## Задача 2 (0.5 балла)

Найдите все рейсы компаний 'Delta Air Lines Inc.', 'American Airlines Inc.' и 'United Air Lines Inc.', которые вылетели в Хьюстон ('IAH' или 'HOU') летом 2013 года. При этом рейс должен был вылететь без опоздания, но совершить посадку с задержкой более 1 часа.

Должно получиться 7 строк.

**Подсказки**:  
 - Отбор по вхождению в список можно реализовать с помощью метода `isin()`  
 - Отбор по вхождению в диапазон можно реализовать с помощью метода `between()`

In [668]:
# Ваш код здесь
flights[(flights['airline'].isin(['Delta Air Lines Inc.', 'American Airlines Inc.', 'United Air Lines Inc.'])) &
        (flights['dest'].isin(['IAH','HOU'])) &
        (flights['year'] == 2013) & (flights['month'].between(6,8)) &
        (flights['dep_delay'] <= 0.0) & (flights['arr_delay'] > 60.0)]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,airline
222971,2013,6,2,512.0,515,-3.0,911.0,757,74.0,UA,261,N511UA,EWR,IAH,270.0,1400,5,15,2013-06-02 09:00:00+00:00,United Air Lines Inc.
227421,2013,6,6,1632.0,1633,-1.0,2017.0,1916,61.0,UA,1178,N18112,EWR,IAH,264.0,1400,16,33,2013-06-06 20:00:00+00:00,United Air Lines Inc.
244309,2013,6,24,1526.0,1529,-3.0,1927.0,1814,73.0,UA,1192,N75429,EWR,IAH,189.0,1400,15,29,2013-06-24 19:00:00+00:00,United Air Lines Inc.
250684,2013,7,1,858.0,859,-1.0,1318.0,1151,87.0,UA,430,N424UA,LGA,IAH,195.0,1416,8,59,2013-07-01 12:00:00+00:00,United Air Lines Inc.
258316,2013,7,9,1721.0,1721,0.0,2142.0,2001,101.0,UA,1712,N39415,EWR,IAH,173.0,1400,17,21,2013-07-09 21:00:00+00:00,United Air Lines Inc.
271770,2013,7,23,1733.0,1735,-2.0,2134.0,2030,64.0,AA,1901,N3HHAA,JFK,IAH,208.0,1417,17,35,2013-07-23 21:00:00+00:00,American Airlines Inc.
292992,2013,8,14,1625.0,1625,0.0,2011.0,1908,63.0,UA,1695,N19136,EWR,IAH,243.0,1400,16,25,2013-08-14 20:00:00+00:00,United Air Lines Inc.

## Задача 3 (0.5 балла)

Сколько рейсов в Питтсбург ('PIT') отменили в сентябре 2013 года? 

Должно получиться 5 строк.

**Подсказка:**  
 - Для отмененных рейсов время вылета не указано.

In [669]:
# Ваш код здесь
flights[flights['dest'].isin(['PIT']) &
         (flights['year'] == 2013) & (flights['month'] == 9) &
         flights['dep_time'].isna()]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,airline
310785,2013,9,2,NaN,1600,NaN,NaN,1747,NaN,EV,5091,N750EV,LGA,PIT,NaN,335,16,0,2013-09-02 20:00:00+00:00,ExpressJet Airlines Inc.
312749,2013,9,4,NaN,1305,NaN,NaN,1438,NaN,EV,5378,N744EV,LGA,PIT,NaN,335,13,5,2013-09-04 17:00:00+00:00,ExpressJet Airlines Inc.
320037,2013,9,12,NaN,1820,NaN,NaN,2000,NaN,EV,5503,N615QX,LGA,PIT,NaN,335,18,20,2013-09-12 22:00:00+00:00,ExpressJet Airlines Inc.
321162,2013,9,13,NaN,655,NaN,NaN,824,NaN,9E,3496,NaN,LGA,PIT,NaN,335,6,55,2013-09-13 10:00:00+00:00,Endeavor Air Inc.
327662,2013,9,20,NaN,655,NaN,NaN,824,NaN,9E,3496,NaN,LGA,PIT,NaN,335,6,55,2013-09-20 10:00:00+00:00,Endeavor Air Inc.

## Задача 4 (0.5 балла)

В наборе данных время вылета находится в неудобном формате: часы и минуты собраны в одно целое число. Поэтому, например, после значения 1359 будет идти значение 1400. Ваша задача - вычислить три новых поля: `dep_hour`, `dep_minute` и `dep_minutes_since_midnight`.  Поля должны содержать, соответственно, час вылета, минуту вылета и количество минут с полуночи до вылета.

Выведите таблицу с рассчитанными столбцами (первые 10 строк). Убедитесь, что их видно в выводе.

В отдельной ячейке посчитайте и выведите суммы по трем рассчитанным полям.

**Подсказка:**  
 
 - Воспользуйтесь операцией целочисленного деления `//` и взятия остатка от деления `%`. Например, `1359 // 100 = 13`, а `1359 % 100 = 59`.

In [670]:
# Ваш код здесь
flights['dep_hour'] = flights['dep_time'] // 100
flights['dep_minute'] = flights['dep_time'] % 100
flights['dep_minutes_since_midnight'] =  flights['dep_hour'] * 60 + flights['dep_minute']
flights['sum_dep_time'] = flights['dep_minutes_since_midnight'] + flights['dep_minute'] + flights['dep_hour']
flights.head(10)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,air_time,distance,hour,minute,time_hour,airline,dep_hour,dep_minute,dep_minutes_since_midnight,sum_dep_time
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,227.0,1400,5,15,2013-01-01 10:00:00+00:00,United Air Lines Inc.,5.0,17.0,317.0,339.0
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,227.0,1416,5,29,2013-01-01 10:00:00+00:00,United Air Lines Inc.,5.0,33.0,333.0,371.0
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,...,160.0,1089,5,40,2013-01-01 10:00:00+00:00,American Airlines Inc.,5.0,42.0,342.0,389.0
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,...,183.0,1576,5,45,2013-01-01 10:00:00+00:00,JetBlue Airways,5.0,44.0,344.0,393.0
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,...,116.0,762,6,0,2013-01-01 11:00:00+00:00,Delta Air Lines Inc.,5.0,54.0,354.0,413.0
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,...,150.0,719,5,58,2013-01-01 10:00:00+00:00,United Air Lines Inc.,5.0,54.0,354.0,413.0
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,...,158.0,1065,6,0,2013-01-01 11:00:00+00:00,JetBlue Airways,5.0,55.0,355.0,415.0
7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,...,53.0,229,6,0,2013-01-01 11:00:00+00:00,ExpressJet Airlines Inc.,5.0,57.0,357.0,419.0
8,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,...,140.0,944,6,0,2013-01-01 11:00:00+00:00,JetBlue Airways,5.0,57.0,357.0,419.0
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,...,138.0,733,6,0,2013-01-01 11:00:00+00:00,American Airlines Inc.,5.0,58.0,358.0,421.0

## Задача 5 (0.5 балла)

Некоторые рейсы были отменены. Для таких рейсов в столбце `dep_time` содержится пропущенное значение. Вычислите новый столбец: `status`, который, в зависимости от времени задержки вылета, должен содержать одно из следующих значений: `вылетел вовремя`, `задержан`, `отменен`. Для упрощения расчета, примите, что те рейсы, которые вылетели раньше назначенного времени, также относятся к категории: `вылетел вовремя`.

Выведите таблицу с рейсами (первые 10 строк). Убедитесь что поле со статусом видно в выводе.

В отдельной ячейке посчитайте и выведите количество рейсов для каждого статуса.

In [671]:
# Ваш код здесь
flights['status'] = np.where(flights['dep_delay'] <= 0.0, 'вылетел вовремя',
                             ( np.where( flights['dep_delay'] > 0.0, 'задержан', 'отменен')))
flights.head(10)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,distance,hour,minute,time_hour,airline,dep_hour,dep_minute,dep_minutes_since_midnight,sum_dep_time,status
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,1400,5,15,2013-01-01 10:00:00+00:00,United Air Lines Inc.,5.0,17.0,317.0,339.0,задержан
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,1416,5,29,2013-01-01 10:00:00+00:00,United Air Lines Inc.,5.0,33.0,333.0,371.0,задержан
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,...,1089,5,40,2013-01-01 10:00:00+00:00,American Airlines Inc.,5.0,42.0,342.0,389.0,задержан
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,...,1576,5,45,2013-01-01 10:00:00+00:00,JetBlue Airways,5.0,44.0,344.0,393.0,вылетел вовремя
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,...,762,6,0,2013-01-01 11:00:00+00:00,Delta Air Lines Inc.,5.0,54.0,354.0,413.0,вылетел вовремя
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,...,719,5,58,2013-01-01 10:00:00+00:00,United Air Lines Inc.,5.0,54.0,354.0,413.0,вылетел вовремя
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,...,1065,6,0,2013-01-01 11:00:00+00:00,JetBlue Airways,5.0,55.0,355.0,415.0,вылетел вовремя
7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,...,229,6,0,2013-01-01 11:00:00+00:00,ExpressJet Airlines Inc.,5.0,57.0,357.0,419.0,вылетел вовремя
8,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,...,944,6,0,2013-01-01 11:00:00+00:00,JetBlue Airways,5.0,57.0,357.0,419.0,вылетел вовремя
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,...,733,6,0,2013-01-01 11:00:00+00:00,American Airlines Inc.,5.0,58.0,358.0,421.0,вылетел вовремя

## Задача 6 (0.5 балла)

Рассчитайте и выведите долю задержанных рейсов по всей таблице `flights`.

In [672]:
# Ваш код здесь
(flights['status'].value_counts().loc['задержан'] / len(flights)).round(3)

0.381

## Задача 7 (1 балл)

Составьте рейтинг авиакомпаний по вероятности отмены рейса. Самые надежные авиакомпании должны быть первыми в списке.

In [673]:
# Ваш код здесь
flights.groupby(['airline', 'status']).agg(['count']).sort_values(by='count', ascending=False)

KeyError: 'count'

## Задача 8 (1 балл)

Определите, какой месяц оказался самым тяжелым для каждой авиакомпании (по доле рейсов, задержанных более чем на 15 минут).

Выведите таблицу со столбцами: `airline`, `month`.

In [ ]:
# Ваш код здесь

## Задача 9 (1 балл)

Постройте рейтинг авиакомпаний по числу выполненных рейсов в виде столбиковой диаграммы с горизонтальными столбиками. Столбики на диаграмме должны располагаться по убыванию. Добавьте понятное название графика и подпишите оси на русском языке.

In [ ]:
# Ваш код здесь

## Задача 10 (1.5 балла)

Постройте тепловую карту задержки вылета (строки - дни недели, столбцы - час вылета по расписанию, в ячейках - средняя задержка вылета в минутах). Добавьте понятное название графика и подпишите оси на русском языке.

Сравните этот результат с загруженностью аэропортов, построив аналогичную тепловую карту с количеством рейсов.


Напишите выводы:

 - В какие дни и часы загруженность аэропорта наибольшая?
 - В какие дни и часы задержка вылетов наибольшая?
 - Соотносится ли задержка вылета с загруженностью аэропорта?

**Подсказки**:

- Номер дня недели для столбца с датами доступен через свойство `dt.dayofweek`. `0` - понедельник, `6` - воскресенье.

In [ ]:
# Пример:
s = pd.date_range('2020-10-05', '2020-10-11', freq='D').to_series()
s.dt.dayofweek

 - Чтобы обеспечить правильный порядок дней недели, при группировке необходимо воспользоваться номером дня недели. Но в результате получится, что заголовки строк таблицы будут числами. Их можно заменить на названия дней, применив к индексу словарь замен с помощью метода `map()`:

In [ ]:
# Пример
s = pd.Series(range(1, 4))
s # Сейчас индекс - целые числа

In [ ]:
# Пример
replacements = { 0 : 'первый', 1 : 'второй', 2 : 'третий'} # словарь замен для примера

s.index = s.index.map(replacements)
s # Сейчас числа в индексе заменены на слова по словарю замен

## Задача 11 (1 балл)

Постройте графики изменения вероятности задержки рейса более чем на полчаса для 5 крупнейших по количеству рейсов авиакомпаний.
Вероятность задержки рейса можно оценить как долю задержанных рейсов данной авиакомпании в данном месяце.

Примерный вид графика показан на рисунке:
![](pics/prop_delayed.png)

Напишите вывод:

 - Одинаковы ли тренды в задержке рейсов для разных авиакомпаний?
 - Какие авиакомпании наиболее и наименее надежные с точки зрения вероятности задержки рейса?

In [ ]:
# Ваш код здесь

## Задача 12 (1.5 балла)

Загрузим данные о самолетах:

In [ ]:
planes = pd.read_csv('data/planes.csv')

In [ ]:
planes.head()

In [ ]:
planes.info()


**Словарь данных**  

 - `tailnum` - бортовой номер
 - `year` - год выпуска
 - `type` - тип самолета
 - `manufacturer, model` - производитель и модель самолета
 - `engines, seats` - количество двигателей и пассажирских мест
 - `speed` - средняя крейсерская скорость, миль в час
 - `engine` - тип двигателя

**Задание**:

 - Соедините данные о самолетах `planes` с данными о рейсах `flights`. Выведите первые 10 строк этой таблицы и сводку по таблице (`info()`). Напишите вывод, отличается ли количество строк в полученной таблице и в таблице `flights`. С чем это связано?
 - На основе столбцов `distance` (расстояние в милях) и `air_time` (время полета в минутах) рассчитайте среднюю скорость самолета,  выполнявшего рейс (в милях/час)
 - Рассчитайте среднюю скорость в воздухе для каждого производителя и модели самолета. 
 - Получите таблицу с тремя самыми быстрыми самолетами (или вертолетами) каждого производителя. Выведите эти данные как таблицу (целиком). В таблице не должно быть производителей, у которых представлено в данных менее трех моделей.
 - Визуализируйте данные полученной таблицы с помощью подходящего графика. Добавьте понятное название графика и подпишите оси.

In [ ]:
# Ваш код здесь